.Body_All{
    width : 100%;
}

.Body_img1{
    margin-left : 50px;
}
.Body_img1, .Body_img2, .Body_img3{
    width : 70%;
    height: 80vh;
}

.Body_about{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width : 100%;
    background-color: rgb(228, 228, 228);
    
}

.Body_about_div{
    justify-content: left;
    text-align: left;
    margin-left: 200px;
    width : 25%;
    
}