@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.get_Data_div{
    width : 100%;
    height: 50vh;
    font-family: 'Jua', sans-serif;
}

.get_Data{
    background-color: rgb(207, 237, 255);
    width : 380px;
    height: 48vh;
    margin-left: 4%;
    margin-top: 8vh;
    float: left;
    border-radius: 10px;
    word-break:break-all;
}


.get_Data_dogPic{
    width : 300px;
    height: 34vh;
}



.get_Data_Text{
    display: flex;
    justify-content: start;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}